* {                                                                                                                                                                                                                                                                                      
    border: none;                                                                                                                                                                                                                                                                        
    border-radius: 0;                                                                                                                                                                                                                                                                    
    font-family: "JetBrainsMono Nerd Font";                                                                                                                                                                                                                                              
    font-size: 13px;                                                                                                                                                                                                                                                                     
    min-height: 0;
}
                                                                                                                                                                                                                                                                                         
window#waybar {                                                                                                                                                                                                                                                                          
    background-color: #000000;                                                                                                                                                                                                                                                           
    color: #ffffff;                                                                                                                                                                                                                                                                      
}

#battery {
    background-color: #ff0000;
}

#workspaces button {
    padding: 2px 4px 2px 4px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    margin: 0px 2px;
}

#workspaces button:nth-child(n+1):nth-child(-n+4) {
    border-color: rgb(100, 0, 0);
}
#workspaces button:nth-child(n+1):nth-child(-n+4).active {
    border-color: rgb(255, 0, 0);
}

#workspaces button:nth-child(n+5):nth-child(-n+7) {
    border-color: rgb(0, 100, 0);
}
#workspaces button:nth-child(n+5):nth-child(-n+7).active  {
    border-color: rgb(0, 255, 0);
}

#workspaces button:nth-child(n+8):nth-child(-n+10) {
    border-color: rgb(0, 60, 100);
}
#workspaces button:nth-child(n+8):nth-child(-n+10).active {
    border-color: rgb(0, 150, 255);
}
